// Import page-specific CSS files here.
@import "home";


.hero-index {
  height: 600px;
  min-width: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}

#img-product {
  min-width: 100%;
  max-height: 250px;
  object-fit: cover;
}

.hero-title {
  font-weight: 600;
}

.index-subtitle {
  font-weight: 400;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

#card {
  overflow: hidden;
  border-radius: 10px;
  min-width: 400px;
  max-width: 400px;
  min-height: 500px;
}

#ancre-index {
  font-weight: 500;
}
