// Import page-specific CSS files here.
@import "home";


.hero-index {
  height: 600px;
  width: auto;
  background-position: bottom;
  background-repeat: no-repeat;
}

#img-product {
  min-width: 100%;
  max-height: 250px;
  object-fit: cover;
}
