<div class="container">
  <div class="row justify-content-center mb-3">

    <div class="col-12 my-3">
      <h1 class="text-center mt-3 mb-3  index-subtitle text-primary" id="about-us">Chez Underwhere, </br>c'est tous les jours la fête du slip !</h1>
    </div>

    <div class="col-12 text-center">
      <div id="team-pic", class="jumbotron py-5  p-md-5 text-white rounded-3 bg-dark", style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.freepik.com/photos-gratuite/modeles-masculins-faisant-promotion-du-corps-positif_52683-107675.jpg?w=1800&t=st=1700817985~exp=1700818585~hmac=278a95b20acb60699a4864ab2f04d589ce878f2db94af974da2d2c6b1511e2c9)">
          <div class="col-12 px-0">
            <h5 class="display-5 font-italic">Pour la planète,</br> on met le paquet !</h5>
            <p class="lead my-3 mb-5">Faire rimer écologie avec confort...</p>
          </div>
      </div>
    </div>

  </div>
</div>

<%# ------------------ %>

<h3 class="text-center mt-3">Découvrir nos offres</h3>

<div class="container d-flex justify-content-center">

    <div class="row col-12 my-3 d-flex justify-content-center text-center">

      <div class="col">
        <div class="card mb-4 rounded-3 shadow">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Novice</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Gratuit <small class="text-primary fw-light">à vie</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Je paye à chaque location</li>
              <li>Livraison standard</li>
              <li>Support et assistance standard</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">En savoir plus</button>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card mb-4 rounded-3 shadow">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Expert</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">5€<small class="text-primary fw-light">/mois</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10 locations par mois inclues</li>
              <li>Livraison express (2-3 jours)</li>
              <li>Support et assistance premium</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">En savoir plus</button>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card mb-4 rounded-3 shadow">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Kinky</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">10€<small class="text-primary fw-light">/mois</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>25 locations par mois inclues</li>
              <li>Livraison gratuite accélérée (1-2 jours)</li>
              <li>Support et assistance VIP</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">En savoir plus</button>
          </div>
        </div>
      </div>


    </div>

  </div>



    <%# ------------ %>
<div class="container py-5 border-top">
        <div class="row mb-5">
            <div class="col-md-12">
                <div class="lc-block text-center">
                    <div editable="rich">
                        <h2 class="fw-bold">FA<span class="text-primary">Q</span></h2>
                    </div>
                </div>
                <div class="lc-block d-flex justify-content-center text-center">
                    <div class="col-7 text-center" editable="rich">
                        Underwhere est une plateforme innovante permettant aux particuliers de louer leurs slips à d'autres personnes de confiance. C'est une manière économique et écologique de partager des sous-vêtements tout en favorisant une communauté solidaire.<br>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="lc-block mb-5">
                    <div editable="rich">
                        <p class="h4">Comment fonctionne la location de slips ? </p>
                        <p>Notre plateforme facilite la mise en relation entre propriétaires de slips et locataires. Les utilisateurs peuvent créer des annonces pour leurs slips disponibles à la location, spécifier la durée de location et les conditions. Les locataires peuvent ensuite parcourir les annonces et contacter les propriétaires pour finaliser la location.</p>
                    </div>
                </div>
                <div class="lc-block mb-5">
                    <div editable="rich">
                        <p class="h4">Quelles sont les garanties d'hygiène ?</p>
                        <p>La sécurité et l'hygiène sont nos priorités. Chaque annonce est soumise à une validation stricte, et nous encourageons les utilisateurs à respecter les normes d'hygiène recommandées. Nous recommandons également un lavage minutieux avant et après la location.</p>
                    </div>
                </div>
                <div class="lc-block mb-5">
                    <div editable="rich">
                        <p class="h4">Puis-je louer un slip pour une occasion spéciale ?</p>
                        <p>Absolument ! Que ce soit pour une fête costumée, un rendez-vous romantique ou tout autre événement spécial, vous pouvez trouver le slip parfait pour l'occasion sur Underwhere. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="lc-block mb-5">
                    <div editable="rich">
                        <p class="h4">Y a-t-il des règles spécifiques à suivre lors de la location d'un slip ?</p>
                        <p>Oui, nous recommandons de respecter les règles d'hygiène, de ne pas modifier le slip loué, et de le retourner dans le même état que vous l'avez reçu. Consultez notre guide du locataire pour plus de détails.</p>
                    </div>
                </div>
                <div class="lc-block mb-5">
                    <div editable="rich">
                        <p class="h4">Quelles informations personnelles sont partagées lors d'une location ?</p>
                        <p>Pour assurer la confidentialité, Underwhere limite la divulgation d'informations personnelles. Les détails nécessaires à la location seront partagés une fois la réservation confirmée.</p>
                    </div>
                </div>
                <div class="lc-block mb-5">
                    <div editable="rich">
                        <p class="h4">Que faire en cas de problème avec une location ?</p>
                        <p>Si vous rencontrez des problèmes, contactez notre service clientèle. Nous sommes là pour vous aider à résoudre tout désagrément.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


<%# -------------- %>

<div class="col-12 mt-5 bg-dark d-flex">

<div class="col-6  d-flex flex-column">
  <div class="h-100 p-5 ms-3 text-white ">
    <h2 class="mb-4">Ne ratez aucune info,</br> inscrivez-vous à notre <span class="text-primary fw-light">Slip</span>letter !</h2>

    <div>
    <input type="email" id="email" pattern=".+@example\.com" size="30" required class="btn-outline-primary" placeholder="Adresse email"/>
    <button class="btn btn-outline-primary">S'inscrire</button>
    </div>
  </div>
</div>

<div class="col-6 d-flex align-items-center justify-content-center">
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="150" height="150" viewBox="0 0 60 60" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M59.368 30.97a2.956 2.956 0 0 0 .6-2.281L57.52 12.553A3 3 0 0 0 54.533 10H5.467a3 3 0 0 0-2.987 2.554L.033 28.689a2.956 2.956 0 0 0 .6 2.281 3.052 3.052 0 0 0 2.106 1.152c4.492.432 15.273 2.406 18.342 11.407a9.557 9.557 0 0 0 3.407 4.671A9.277 9.277 0 0 0 30 50a9.457 9.457 0 0 0 8.919-6.468c3.07-9 13.851-10.978 18.343-11.41a3.052 3.052 0 0 0 2.106-1.152ZM5.467 12h49.066a1.021 1.021 0 0 1 1.01.853L55.868 15H4.132l.325-2.146A1.021 1.021 0 0 1 5.467 12ZM2.209 29.74a.978.978 0 0 1-.2-.752L3.828 17h16.751l-5.018 17.017A31.183 31.183 0 0 0 2.93 30.132a1.027 1.027 0 0 1-.721-.392Zm34.816 13.149A7.458 7.458 0 0 1 30 48a7.284 7.284 0 0 1-4.328-1.416 7.679 7.679 0 0 1-2.7-3.7 16 16 0 0 0-5.674-7.7L22.664 17h14.672L42.7 35.191a16 16 0 0 0-5.675 7.698Zm7.414-8.872L39.421 17h16.751l1.816 11.988a.974.974 0 0 1-.2.752 1.027 1.027 0 0 1-.721.392 31.188 31.188 0 0 0-12.628 3.885Z" fill="#ffffff" opacity="1" data-original="#000000" class=""></path></g></svg>
</div>


</div>
