<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">

      <% if user_signed_in? %>
        <%= link_to "Accueil", underwears_path, class: "nav-link" %>
        <%= link_to "Mon compte", user_path(current_user), class: "nav-link" %>
        <%= link_to "Préférences", edit_user_registration_path(current_user), class: "nav-link" %>
      <% end %>


    </ul>
    <p class="text-center text-body-secondary">© 2023 UnderWhere</p>
  </footer>
