<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1640765937555-6f413ed1d936?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
  <div class="text-center py-5">
    <h1>UnderWhere</h1>
  </div>
</div>


<%# ---------  GENERATION DES CARDS ----------  %>

  <ul>
    <% @underwears.each do |underwear| %>
    <li class="card-product">
      <h3><%= underwear.title %></h3>
      <p><%= underwear.description %></p>
    </li>
    <%= link_to "En savoir plus", underwear_path(underwear) %>
    <% end %>
  </ul>

  <%= link_to "Add a slip!", new_underwear_path, class: "btn btn-primary" %>
