<div class="container"><h1>Complete your booking</h1>
    <%= simple_form_for [@underwear, @booking] do |f| %>
      <%= f.input :start_date,
                as: :string,
                input_html: { data: { controller: "datepicker" } } %>
      <%= f.input :end_date,
                as: :string,
                input_html: { data: { controller: "datepicker" } } %>
<% end %>
  <%= link_to "Back", underwears_path, class: "btn btn-primary"  %>
</div>
