<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1640765937555-6f413ed1d936?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
  <div class="text-center py-5">
    <h1>UnderWhere détail</h1>
  </div>
</div>

<div class="container">
<div class="row d-flex justify-content-center">


<div class="col-8 my-5 border d-flex  text-left rounded">
  <div class="card-trip">
  <%= image_tag @underwear.url_photo, class: "img-slip img-fluid" %>
    <div class="card-trip-infos">
      <div>
        <h2><%= @underwear.title %></h2>
        <p><%= @underwear.description %></p>
        <%= link_to "Book this slip!", new_underwear_booking(underwear_id), class: "btn btn-primary" %>
      </div>
    </div>
    </div>
</div>




</div>





</div>
